.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  background: url("../../assets/crew/background-crew-mobile.jpg") center/cover
    no-repeat;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.container {
  position: relative;
  top: 4rem;
  min-height: 100vh;
  /* width: 90%; */
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font: var(--heading-5);
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--powder-blue);
  letter-spacing: 4px;
  word-spacing: 10px;
}

.title span {
  color: var(--white);
}

.crew-info {
  position: relative;
  text-align: center;
  margin-top: 2rem;
}

.crew-info_img {
  border-bottom: 1px solid var(--powder-blue);
}

.crew-info_img img {
  width: 75%;
}

.crew-info_details {
  margin-top: 2.2rem;
  padding-bottom: 10rem;
}

.active-member {
  width: 50%;
  margin: 0 auto;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
}

.active-member span {
  display: block;
  width: 10px;
  height: 10px;
  background: rgb(97, 97, 97);
  border-radius: 50%;
  cursor: pointer;
}

.active-member span:hover {
  background: var(--white);
}

.active-member .active {
  background-color: var(--white);
}

.crew-member {
  padding: 2rem 0 1rem;
}

.crew-member_role {
  font: var(--sub-heading-1);
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: var(--powder-blue);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.crew-member_name {
  font: var(--sub-heading-1);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.crew-member_details {
  font: var(--sub-heading-2);
  font-size: 1.3rem;
  color: var(--powder-blue);
  line-height: 1.7;
}

@media (min-width: 535px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .main-wrapper {
    background: url("../../assets/crew/background-crew-tablet.jpg") center/cover
      no-repeat;
  }
  .container {
    margin-top: 2.5rem;
    width: 90%;
  }
  .title {
    text-align: left;
    letter-spacing: 3px;
    word-spacing: 6px;
  }
  .crew-info {
    margin-top: 3.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .crew-info_img {
    border-bottom: none;
  }
  .crew-info_details {
    order: -1;
    margin-top: 0;
    padding-bottom: 4rem;
    position: relative;
  }
  .active-member {
    position: absolute;
    width: 30%;
    bottom: 1.8rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .crew-member {
    padding: 1rem 0;
  }
  .crew-member_role {
    font-size: 1.3rem;
  }
  .crew-member_name {
    font: var(--heading-4);
    letter-spacing: 4px;
  }
  .crew-member_details {
    letter-spacing: 1.3px;
    font-size: 1.2rem;
    line-height: 1.9;
  }
}

@media (min-width: 969px) {
  .main-wrapper {
    background: url("../../assets/crew/background-crew-desktop.jpg")
      center/cover no-repeat;
  }
  .container {
    width: 80%;
  }
  .main {
    position: relative;
    padding-top: 4.8rem;
    height: 100vh;
  }
  .title {
    font: var(--heading-5);
  }
  .crew-info {
    position: absolute;
    top: 0;
    flex-direction: row;
    height: 100%;
    max-height: 900px;
  }
  .crew-info_img {
    flex: 100%;
  }
  .crew-info_details {
    flex: 100%;
    text-align: left;
  }
  .crew-member_role {
    font: var(--sub-heading-1);
    line-height: 37px;
  }
  .crew-member_name {
    font: var(--heading-4);
    font-size: 1.8rem;
    line-height: 64px;
  }
  .crew-member_details {
    font-size: 1.13rem;
    line-height: 2rem;
    letter-spacing: 3px;
  }
  .active-member {
    left: 0;
    transform: translateX(0);
  }
}

@media (min-width: 1280px) {
  .active-member {
    bottom: 0;
  }
  .crew-member_name {
    font-size: 2.5rem;
  }
}
