.button {
  width: 160px;
  height: 160px;
  color: var(--dark-blue);
  font: var(--sub-heading-1);
  letter-spacing: 2.35px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .button {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 929px) {
  .button {
    max-width: 274px;
    max-height: 274px;
  }
}
