.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  background: url("../../assets/home/background-home-mobile.jpg") center/cover
    no-repeat;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.container {
  position: relative;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-wrapper {
    background: url("../../assets/home/background-home-tablet.jpg") center/cover
      no-repeat;
    padding: 0;
  }
}

@media (min-width: 969px) {
  .main-wrapper {
    background: url("../../assets/home/background-home-desktop.jpg")
      center/cover no-repeat;
  }
  .container {
    min-height: 900px;
    width: 80%;
  }
}
