.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/technology/background-technology-mobile.jpg")
    center/cover no-repeat;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.container {
  position: relative;
  top: 4rem;
  min-height: 100vh;
  max-width: 1440px;
  margin: auto;
}

.page-header {
  width: 100%;
  padding: 2rem 0;
}

.heading {
  font: var(--heading-5);
  font-size: 1.1rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--powder-blue);
  letter-spacing: 4px;
}

.heading span {
  color: var(--white);
}

@media (min-width: 768px) {
  .main-wrapper {
    background: url("../../assets/technology/background-technology-tablet.jpg")
      center/cover no-repeat;
  }
  .page-header {
    width: 95%;
    margin-left: 5%;
    padding: 5.6rem 0 4rem;
  }
  .heading {
    margin: 3.8rem 0;
    text-align: left;
    padding-left: 2.4rem;
  }
}

@media (min-width: 969px) {
  .main-wrapper {
    background: url("../../assets/technology/background-technology-desktop.jpg")
      center/cover no-repeat;
  }
  .page-header {
    padding-top: 7.6rem;
    width: 80%;
    margin: 0 auto;
  }
  .heading {
    width: 80%;
    margin: 8rem auto 2rem;
    padding-left: 0;
    font: var(--heading-5);
  }
}
