.wrapper {
  width: 90%;
  min-height: 100vh;
  margin: 5.5rem auto 0;
}

@media (min-width: 535px) {
  .wrapper {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 90%;
  }
}

@media (min-width: 969px) {
  .wrapper {
    width: 80%;
  }
}
