* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../src/assets/home/background-home-desktop.jpg") center/cover
    no-repeat;
  overflow: hidden;
}
