.header {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  /* margin: 1.5rem auto;
   */
}

.toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding: 0 0 0 2rem;
    min-height: 96px;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(224, 221, 221, 0.2);
    width: 60%;
    height: 100%;
    z-index: -1;
  }
  .toggle {
    display: none;
  }
  .logo {
    flex: 100%;
  }
  .navbar {
    display: block;
    flex: 100%;
    height: 100%;
  }
  .navbar ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
  }
  .navbar li span {
    display: none;
  }
  .navbar li {
    height: 96px;
    display: flex;
    align-items: center;
  }
  .navbar li.active {
    border-bottom: 3px solid var(--white);
  }
  .navbar li:not(:last-of-type) {
    margin-right: 2rem;
  }
  .navbar a {
    font: var(--nav-text);
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--powder-blue);
  }
}

@media (min-width: 969px) {
  .header {
    top: 2rem;
  }
  .header::before {
    content: "";
    position: absolute;
    left: 10%;
    width: 35%;
    height: 0.1px;
    background: var(--powder-blue);
    filter: blur(0.1px);
    -webkit-filter: blur(0.1px);
  }
  .navbar li span {
    display: inline-block;
    color: var(--white);
  }
}
