.mobilenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background: rgba(224, 221, 221, 0.2);
  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(4rem);
  z-index: 2;
  transition: transform 0.5s ease;
}

.slide-out {
  transform: translateX(100%);
}

.slide-in {
  transform: translateX(0%);
}

.mobilenav ul {
  position: relative;
  z-index: 3;
  height: 100%;
  padding: 7rem 0 0 2rem;
  list-style: none;
}

.mobilenav li {
  margin: 2rem 0;
}

.mobilenav a:hover {
  border-right: 3px solid var(--powder-blue);
}

.mobilenav a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  color: var(--powder-blue);
  font: 1.3rem "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
}

.mobilenav .active-class {
  border-right: 3px solid var(--powder-blue);
}

.mobilenav span {
  color: var(--white);
}
