.intro {
  font: var(--heading-5);
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: var(--white);
  letter-spacing: 1.5px;
  line-height: 34px;
}

.intro span {
  color: var(--powder-blue);
  opacity: 0.5;
}

@media (min-width: 768px) {
  .intro {
    text-align: justify;
    padding: 3rem 0 3.8rem;
  }
}

@media (min-width: 969px) {
  .intro {
    padding: 76px 0 96px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
}
